html{
  min-height:100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif, 'Yanone Kaffeesatz', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
  font-size: 14px;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif, 'Yanone Kaffeesatz'; */
  /* background: url(/img/slime.png) no-repeat;  https://wall.alphacoders.com/big.php?i=954407 */
  /* background-position: top; */
  /* background-color: #63abc7; */
  background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(153,204,255,1));
  min-height:100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100vw;
  height: 100vh;

}

h1 {
  color: rgba(125, 54, 219, 0.849);
  text-transform: uppercase;
}

form {
  padding:20px;
  margin-top: 60px;

}

form button form h5{
  margin: 20px 0;

}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.not {
  position: fixed;
  right: 200px;
}

.buttonLogin {
  position: absolute;
  right: 50px;
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  background-color: rgba(125, 54, 219, 0.849);
  font-family: 'Yanone Kaffeesatz';
  font-weight: 700;
  font-size: 3em;
  display: inline-block;
  padding: 4px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 9px 0px rgba(125, 0, 219, 0.849), 0px 9px 25px rgba(0, 0, 0, .7);
  -moz-box-shadow: 0px 9px 0px rgba(125, 0, 219, 0.849), 0px 9px 25px rgba(0, 0, 0, .7);
  box-shadow: 0px 9px 0px rgba(125, 0, 219, 0.849), 0px 9px 25px rgba(0, 0, 0, .7);
  margin: 100px auto;
  width: 200px;
  text-align: center;
  -webkit-transition: all .1s ease;
  -moz-transition: all .1s ease;
  -ms-transition: all .1s ease;
  -o-transition: all .1s ease;
  transition: all .1s ease;
}
.buttonSubmit {
  position: absolute;
  left: 650px;
  top: 83px;
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  background-color: rgba(219, 87, 5, 1);
  font-family: 'Yanone Kaffeesatz';
  font-weight: 700;
  font-size: 3em;
  display: inline-block;
  padding: 4px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 9px 0px rgba(219, 31, 5, 1), 0px 9px 25px rgba(0, 0, 0, .7);
  -moz-box-shadow: 0px 9px 0px rgba(219, 31, 5, 1), 0px 9px 25px rgba(0, 0, 0, .7);
  box-shadow: 0px 9px 0px rgba(219, 31, 5, 1), 0px 9px 25px rgba(0, 0, 0, .7);
  margin: 100 auto;
  width: 200px;
  text-align: center;
  -webkit-transition: all .1s ease;
  -moz-transition: all .1s ease;
  -ms-transition: all .1s ease;
  -o-transition: all .1s ease;
  transition: all .1s ease;
}

/* .buttonRefresh {
  position: relative;
  left: 400px;
  bottom: 37px;
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  background-color: rgb(1, 126, 94);
  font-family: 'Yanone Kaffeesatz';
  font-weight: 700;
  font-size: 3em;
  display: inline-block;
  padding: 4px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 9px 0px rgba(1, 70, 94), 0px 9px 25px rgba(0, 0, 0, .7);
  -moz-box-shadow: 0px 9px 0px rgba(1, 70, 94), 0px 9px 25px rgba(0, 0, 0, .7);
  box-shadow: 0px 9px 0px rgba(1, 70, 94), 0px 9px 25px rgba(0, 0, 0, .7);
  margin: 100px auto;
  width: 200px;
  text-align: center;
  -webkit-transition: all .1s ease;
  -moz-transition: all .1s ease;
  -ms-transition: all .1s ease;
  -o-transition: all .1s ease;
  transition: all .1s ease;
} */

.buttonExport {
  /* box-sizing: border-box;
  display: block;
  position: relative; */
  width: 101.6%;
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  background-color: rgba(102, 255, 178, 1);
  font-family: 'Yanone Kaffeesatz';
  font-weight: 700;
  font-size: 3em;
  /* display: inline-block */
  /* padding: 4px; */
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 9px 0px rgb(0, 204, 10, 1), 0px 9px 25px rgba(0, 0, 0, .7);
  -moz-box-shadow: 0px 9px 0px rgba(0, 204, 10, 1), 0px 9px 25px rgba(0, 0, 0, .7);
  box-shadow: 0px 9px 0px rgba(0, 204, 10, 1), 0px 9px 25px rgba(0, 0, 0, .7);
  /* margin: 100px auto; */
  /* width: 1400px; */
  text-align: center;
  -webkit-transition: all .1s ease;
  -moz-transition: all .1s ease;
  -ms-transition: all .1s ease;
  -o-transition: all .1s ease;
  transition: all .1s ease;
}

.fontsizeForParagraph{
  font-size:125%;
}

.vertical-center {
  text-align: center;
}